*{
    margin:0px;
    padding:0pc;
    box-sizing: border-box;
    background-color: black;
    overflow: hidden;
}
.wrapper {
  height: 100vh;                     /* Full height of the screen */
  width: 100vw;                      /* Full width of the screen */
  overflow: hidden;
  background-image: url("https://i.pinimg.com/736x/2b/bd/14/2bbd1493771162027939c305e952c748.jpg");
  background-repeat: repeat;        /* Repeat the image in both directions */
  background-size: auto;            /* Keep the original size of the image */
  background-position: top left;    /* Start tiling from top-left */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1{
    color:rgb(47, 255, 0);
    margin:15px;
    margin-bottom: 70px;
    font-family: 'Franklin Gothic Medium';
    background:none;
    text-align: center;
    span{
      color:white;
      background:none;
    }
  }
    .imgrow1{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items:center;
      width:90%;
      height:16%;
      background-color: transparent;
      margin-bottom: 10px;
      img{
        width:10%;
        height:100%;
        margin:10px;
        object-fit: cover;
        background-color: transparent;
        border-style: solid; 
        border-radius: 7px;
        border-color: rgb(0, 0, 0);
        border-width: 2px;
      }
    
  }
}
